<template>
    <v-btn
      depressed
      @click="to"
      color="primary"
    >
      Back
    </v-btn>

</template>

<script>
export default {
  methods: {
    to() {
      this.$router.go(-1);
    },
  }
}

</script>
