<template>
  <v-row justify="center" align="center" class="pt-md-15">
    <v-col cols="12" sm="8" md="6">
      <v-row justify="center">
        <v-dialog
          v-model="statusDialog"
          width="60%"
        >
          <Dialog
            :resultData="resultData"
            @close-dialog = "statusDialog = !statusDialog"
          />
        </v-dialog>
      </v-row>
      <v-card >
        <v-card-title class="headline justify-center">
          Send Request
        </v-card-title>
        <v-card-actions>
          <v-btn
            color="primary"
            nuxt
            v-on:click="sendRequest(true)"
          >
            Success Request
          </v-btn>
          <v-spacer />
          <v-btn
            color="error"
            nuxt
            v-on:click="sendRequest(false)"
          >
            Fail Request
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>

import Dialog from "~/components/dialog"

export default {
  comments:[
    Dialog
  ],
  data() {
    return {
      successData: {
        "pay_form": {
          "token": "xxx",
          "design_name": "des1"
        },
        "transactions": {
          "12345-7891234567": {
            "id": "12345-7891234567",
            "operation": "pay",
            "status": "fail",
            "descriptor": "FAKE_PSP",
            "amount": 2345,
            "currency": "USD",
            "fee": {
              "amount": 0,
              "currency": "USD"
            },
            "card": {
              "bank": "CITIZENS STATE BANK",
            }
          }
        },
        "error": {
          "code": "6.01",
          "messages": [
            "Unknown decline code"
          ],
          "recommended_message_for_user": "Unknown decline code"
        },
        "order": {
          "order_id": "12345-7891234567",
          "status": "declined",
          "amount": 2345,
          "refunded_amount": 0,
          "currency": "USD",
          "marketing_amount": 2345,
          "marketing_currency": "USD",
          "processing_amount": 2345,
          "processing_currency": "USD",
          "descriptor": "FAKE_PSP",
          "fraudulent": false,
          "total_fee_amount": 0,
          "fee_currency": "USD"
        },
        "transaction": {
          "id": "12345-7891234567",
          "operation": "pay",
          "status": true
        }
      },
      failData: {
        "pay_form": {
          "token": "xxx",
          "design_name": "des1"
        },
        "transactions": {
          "12345-7891234567": {
            "id": "12345-7891234567",
            "operation": "pay",
            "status": "fail",
            "descriptor": "FAKE_PSP",
            "amount": 2345,
            "currency": "USD",
            "fee": {
              "amount": 0,
              "currency": "USD"
            },
            "card": {
              "bank": "CITIZENS STATE BANK",
            }
          }
        },
        "error": {
          "code": "6.01",
          "messages": [
            "Unknown decline code"
          ],
          "recommended_message_for_user": "Unknown decline code"
        },
        "order": {
          "order_id": "12345-7891234567",
          "status": "declined",
          "amount": 2345,
          "refunded_amount": 0,
          "currency": "USD",
          "marketing_amount": 2345,
          "marketing_currency": "USD",
          "processing_amount": 2345,
          "processing_currency": "USD",
          "descriptor": "FAKE_PSP",
          "fraudulent": false,
          "total_fee_amount": 0,
          "fee_currency": "USD"
        },
        "transaction": {
          "id": "12345-7891234567",
          "operation": "pay",
          "status": false
        }
      },
      resultData:{},
      statusDialog:false
    }
  },
  methods:{
    async sendRequest(status){
      if (status){
        this.resultData = await this.$axios.$post('/request',this.successData)
        this.statusDialog = true;
        console.log(this.resultData)
      }else{
        this.resultData = await this.$axios.$post('/request',this.failData)
        this.statusDialog = true;
      }
    }
  }
}
</script>
